.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.m-5 {
  margin: 5px
}
.m-10 {
  margin: 10px
}
.m-20 {
  margin: 20px
}

.m-30 {
  margin: 30px
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}


.w-400 {
  width: 400px;
}

.w-500 {
  width: 500px;
}


.w-600 {
  width: 600px;
}

.h-300 {
  height: 300px;
}


.w-800 {
  width: 800px;
}

.mb-10 {
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
